@import url("https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap");


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: white;
    overflow-x: hidden !important;
}

h1 {
    /*letter-spacing: 5px;*/
}

textarea {
    resize: none;
}

nav {
    background-color: rgba(255, 255, 255, 0.1);
}

footer,
.menu-con {
    background-color: white;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

/*custom classes*/


.primary-bg{
    background-color: #A020F0;
}

.secondary-bg{
    background-color: #20F0A0;
}

.primary-col{
    color: #A020F0;
}

.secondary-col{
    color: #20F0A0;
}

.primary-border{
    border-color : #A020F0 ;
    border-width: 3px;
}
.primary-border:hover{
    background-color : #A020F0 !important;
    color: white !important;
}

.carousel .carousel-indicators button {
    width: 10px;
    height: 10px;
    border-radius: 100%;
    background-color: #F020E0;
}

#carouselHero .carousel-item::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Adjust the alpha value to control the darkness */
    z-index: 1;
}

#carouselHero .carousel-caption {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    color: #fff; /* Set the text color */
}

.btn.primary-bg:hover{
    background-color: #F020f0;
}

.custom-hr {
    border: none; /* Remove the default border */
    height: 5px; /* Set the height of the line */
    background-color: #F020E0; /* Set the color of the line */
    margin: 20px 0; /* Add margin above and below the line */
}

.nav-link:hover{
    color: honeydew !important;
    background-color: rgba(240, 32, 240, 0.4);
    border-radius: 10px;
}

.footer-link:hover{
    color: honeydew !important;
    background-color: rgba(240, 32, 240, 0.4);
    border-radius: 10px;
}

.footer-logo{
    height: 50px;
    width: 50px;
}

.course-card{
    height: 50vh;
    width: 105%;
}
.course-card .card-header{
    padding: 0;
}

.course-card img{
    height: 25vh;
    width: 100%;
    object-fit: fill;
}

.customer-img{
    border-radius: 50%;
}

.front-logo-container {
    height: 100%;
    display: flex;
    align-items: center;
}
.carousel-item {
    height: 90vh;
}

.front-logo {
    height: 7vh;
    object-fit: contain;
}

.services-card {
    position: relative;
    margin-top: -5vh;
    z-index: 11;
}

.services-card .card {
    border: none;
    border-bottom: rgba(240, 32, 240, 0.4) 2px solid;
    border-radius: 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.banner{
    height: 50vh !important;
    background-color: rgba(0, 0, 0, 0.3);

}


.instructor-div .col-md-3{
    width: 22% !important;
}

.bg-grey{
    background-color: rgba(240, 237, 255, 0.6);;
}

.icon-rounded{
    border-radius: 50%;
    background-color: ghostwhite;
    height: 20vh;
}
.icon-rounded img{
    width:100%;
    height:100%;
    border-radius: 50%;

    object-fit: contain;
    /*border-radius: 10px;*/
    background-color: rgba(0, 0, 0, 0.2);
}

.course-image-container{
    height: 50vh;
}

.instructor-image-container{
    height: 23vh;
}

.instructor-image-card{
    height: 25vh;
}

 /*media queries*/




@media only screen and (min-width: 1376px) {
    .course-card img{
        height: 30vh;
        width: 100%;
        object-fit: fill;
    }

}


@media only screen and (min-width: 992px) and (max-width: 1376px) {
    .course-card img{
        height: 30vh;
        width: 100%;
        object-fit: fill;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {

}

@media only screen and (max-width: 767px) {

}

@media only screen and (max-width: 575px) {

}

:disabled {
    cursor: not-allowed;
}


